@import 'constants/const-styles.scss';
@import 'constants/media-queries.scss';

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $secondary;

  @include media-mobile-small {
    justify-content: space-around;
  }

  &__logo {
    width: 70px;
    cursor: pointer;
  }

  &__btn {
    width: 40px;
    display: none;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  &__sign {
    display: flex;
    align-items: center;
  }

  &__login {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .navbar {
    &__item {
      display: inline-block;
    }
  }

  &__select {
    font-size: 18px;
    color: $primary;
  }

  &__placeholder {
    width: 100px;
  }

  &__select-menu {
    color: $black;
    width: 120px;
  }

  @include media-table-large {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &__sign {
      display: none;
    }

    &__btn {
      display: block;
    }

    .navbar {
      display: none;
    }

    .autocomplete {
      width: 50%;
    }
  }
}
